<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Join Session</title>

	<meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8"></meta>
	<link rel="shortcut icon" href="images/mb_logo.png" type="image/x-icon"></link>

	<!-- Bootstrap -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
	    crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	    crossorigin="anonymous"></link>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	    crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></link>
	<!-- Bootstrap -->

	<link rel="styleSheet" href="style.css" type="text/css" media="screen"></link>
</head>

<body>

	<!-- Header starts -->
	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="https://www.mountblue.io/" target="_blank">
					<img class="demo-logo" src="images/mb_logo.png" alt="MountBlue logo" width="30" height="30" /></a>
				<span class="navbar-brand">Cohort 14.1</span>
			</div>
		</div>
	</nav>
	<!-- Header ends -->

	<div id="main-container" class="container">
		<div id="logged">
			<div id="join" class="vertical-center">
				<div id="join-dialog" class="jumbotron">
					<h2>Join a video session</h2>
					<form class="form-group" action="/session" method="post">
						<p>
							<label>Participant</label>
							<input class="form-control" type="text" name="data" th:value="${data}" th:readonly="${data != null && data != 'guest'} "required="true"></input>
						</p>
						<p>
							<label>Session</label>
							<input class="form-control" type="text" name="session-name" th:value="${sessionName}" th:readonly="${sessionName != null && data == 'guest'}" required="true"></input>
						</p>
						<p class="text-center">
							<button class="btn btn-lg btn-success" type="submit">Join!</button>
						</p>
					</form>
					<hr></hr>
					<div id="login-info">
						<div>Logged as <span th:text="${userName}" id="name-user"></span></div>
						<form action="/logout">
							<button id="logout-btn" class="btn btn-warning" type="submit">Log out</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Footer starts-->
	<footer class="footer">
		<div class="container">
			<div class="text-muted">MountBlue &copy 2021</div>
		</div>
	</footer>
	<!-- Footer ends-->

</body>

<script th:inline="javascript">
var sessionName = [[${ sessionName }]];
	window.onload = function () {
		console.log(sessionName)
		if(sessionName === null || sessionName === undefined){
			$("input[name='session-name']").val("Session " + Math.floor(Math.random() * 10));
		}
	}
</script>

</html>