
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Session</title>

	<meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8"></meta>
	<link rel="shortcut icon" href="images/mb_logo.png" type="image/x-icon"></link>

	<!-- Bootstrap -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"></link>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></link>
	<script src="https://kit.fontawesome.com/e6b6b42e12.js" crossorigin="anonymous"></script>
	<!-- Bootstrap -->

	<link rel="styleSheet" href="style.css" type="text/css" media="screen" />
	<script src="openvidu-browser-2.16.0.js"></script>
	<style>
		#main-video { cursor:zoom-in; }
		#main-video:-webkit-full-screen { cursor:zoom-out; }
		#main-video:-moz-full-screen { cursor:zoom-out; }
		#main-video:-ms-fullscreen { cursor:zoom-out; }
		#main-video:fullscreen { cursor:zoom-out; }

		i{cursor: pointer;}
		.features{
            border-radius: 8px;
        }
        .space{
            margin: 5px 0px;
            padding: 10px;
            height: 50px;
            width: 50px;
            text-align: center;
            border-radius: 5px;
            font-size:30px;
        }
        .space:hover{
            background-color: lightgray;
        }

        #audio{
            margin-left: 5px;
        }

        #share{
            margin-right: 5px;
        }

        .groupitem3{
            margin: 15px 0px;
            color: white;
        }
	</style>
</head>

<body>

	<!-- Header starts -->
	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="https://www.mountblue.io/" target="_blank">
					<img class="demo-logo" src="images/mb_logo.png" alt="MountBlue logo" width="30" height="30" /></a>
				<span class="navbar-brand">Cohort 14.1</span>
			</div>
		</div>
	</nav>
	<!-- Header ends -->

	<div id="main-container" class="container">
		<div id="logged">
			<div class="row features" style="background-color: #EEEEEE; align-items: center;">
				<div class="col-md-5 groupitem1">
					<i class="fa fa-microphone space" id="audio" title="Mute/Unmute Audio"></i>
					<i class="fas fa-video space" id="video" title="Start/Stop Video"></i>
				</div>
				<div class="col-md-6">
                    <span class="space groupitem2">
					   <i class="fa fa-group" id="showUsersButton" type="button" title="Participants"><sup style="color: black" id="userCount" /></i>
                    </span>
					<span class="space groupitem2">
					   <i class="fa fa-comments" id="chat" title="Chat Window"><sup style="color: red;" id="chatCount" value=1 /></i>
                    </span>
					<i class="fa fa-laptop space groupitem2" id="share" title="Share Screen"> </i>
					<i class="fas fa-expand space groupitem2" id="fullscreen" title="Full Screen"></i>
				</div>
				<div class="col">
					<button class="btn btn-large groupitem3" type="button" style="background-color: #65D463" onclick="inviteLink()">Invite</button>
				</div>
			</div>
			<div id="session">
				<div id="session-header">
					<h1 th:text="${sessionName}" id="session-title"></h1>
					<form action="/leave-session" method="post">
						<input type="hidden" name="session-name" th:value="${sessionName}" />
						<input type="hidden" name="token" th:value="${token}" />
						<input type="hidden" name="nickName" th:value="${nickName}" />
						<input type="hidden" name="userName" th:value="${userName}" />
						<button id="buttonLeaveSession" class="btn btn-large btn-danger" type="submit" onclick="leaveSession()">
							Leave session</button>
					</form>
				</div>
				<div id="main-video" class="col-md-6">
					<p class="nickName"></p>
					<p class="userName"></p>
					<video autoplay="autoplay" playsinline="true"></video>
				</div>
				<div id="video-container" class="col-md-6"></div>
			</div>
		</div>
	</div>

	<!-- The Modal -->
	<div id="myModal" class="modal">
		<!-- Modal content -->
		<div class="modal-content">
			<span class="close" id="closeChat">&times;</span>
			<div>
				<div class="message-section" id="messages"></div>
				<div class="message-send-section" style="display: flex; flex-direction: row;">
					<select class="dropdown" name="users" id="users" style="flex-grow: 1">
						<option value="all">All</option>
					</select>
					<input required type="text" name="message" id="messageText" style="flex-grow: 2">
					<button id="sendMessageButton" class="btn btn-success" style="flex-grow: 1;">Send Message</button>
				</div>
			</div>
		</div>
	</div>

	<!-- The User Modal -->
	<div id="userModel" class="modal">
		<!-- Modal content -->
		<div class="modal-content">
			<span class="close" id="closeUser">&times;</span>
			<p style="text-align: center;" >Participants</p>
			<div>
				<div class="message-section list-group" id="userList"></div>
			</div>
		</div>
	</div>

	<!-- Footer starts-->
	<footer class="footer">
		<div class="container">
			<div class="text-muted">MountBlue &copy 2021</div>
		</div>
	</footer>
	<!-- Footer ends-->

</body>

<script th:inline="javascript">

	// Get all the attributes from the template in Thymeleaf style
	var sessionName = [[${ sessionName }]];
	var token = [[${ token }]];
	var nickName = [[${ nickName }]];
	var userName = [[${ userName }]];
	var connections = [];
	var newMessages = 0;

	console.warn('Request of TOKEN gone WELL (TOKEN:' + token + ')');

	// --- 1) Get an OpenVidu object ---

	OV = new OpenVidu();

	// --- 2) Init a session ---

	session = OV.initSession();

	// --- 3) Specify the actions when events take place in the session ---

	// On every new Stream received...
	session.on('streamCreated', (event) => {

		// Subscribe to the Stream to receive it
		// HTML video will be appended to element with 'video-container' id
		var subscriber = session.subscribe(event.stream, 'video-container');

		// When the HTML video has been appended to DOM...
		subscriber.on('videoElementCreated', (event) => {

			// Add a new HTML element for the user's name and nickname over its video
			appendUserData(event.element, subscriber.stream.connection);
		});
	});

	// On every Stream destroyed...
	session.on('streamDestroyed', (event) => {
		// Delete the HTML element with the user's name and nickname
		removeUserData(event.stream.connection);
	});

	// --- 4) Connect to the session passing the retrieved token and some more data from
	//        the client (in this case a JSON with the nickname chosen by the user) ---

	session.on('connectionCreated', (event) => {
		connections.push(event.connection);
		let obj = JSON.parse(event.connection.data.split("%/%")[0]);
		// update users list
		$("#userList").append($('<p>', {class: "list-group-item list-group-item-success", id: event.connection.connectionId+"_user"}).text(obj.clientData));
		$('#userCount').text(connections.length);
		if (event.connection !== session.connection) {
			// update the chat list
			$('#users').append($('<option>', { value : event.connection.connectionId, id: event.connection.connectionId}).text(obj.clientData));
			console.warn(obj);
			console.warn(connections);
		}
	});

	session.on('connectionDestroyed', (event) => {
		connections.splice(connections.indexOf(event.connection), 1);
		$('#'+event.connection.connectionId).remove();
		$('#'+event.connection.connectionId+"_user").remove();
		$('#userCount').text(connections.length);
		console.warn(connections);
	});

	// Receving Message
	recvMessage(session);



	session.connect(token, { clientData: nickName })
		.then(() => {

			// --- 5) Set page layout for active call ---

			$('#session-title').text(sessionName);
			$('#join').hide();
			$('#session').show();


			// Here we check somehow if the user has 'PUBLISHER' role before
			// trying to publish its stream. Even if someone modified the client's code and
			// published the stream, it wouldn't work if the token sent in Session.connect
			// method is not recognized as 'PUBLIHSER' role by OpenVidu Server
			if (isPublisher()) {

				// --- 6) Get your own camera stream ---
				var publisher = getWebCamStream();

				// --- 7) Specify the actions when events take place in our publisher ---


				sendMessageButton.onclick = () => {
					msgText = document.getElementById('messageText');
					if (msgText.value !== '') {
						sendMessage(session);
					}
					msgText.value = '';
				}

				// added feature for body-fullscreen
				$(document).ready(function() {
   					$('#fullscreen').click(function() {
   						var elem = document.documentElement;
   						toggleFullscreen(elem);
   					});
				});

				// added feature for video-fullscreen
				$(document).ready(function() {
   					$('#main-video').click(function() {
   						var elem = document.getElementById("main-video");
   						toggleFullscreen(elem);
   					});
				});

				// added mute/un-mute feature
					$(document).ready(function() {
   						$('#audio').click(function() {
      						publisher.publishAudio($(this).hasClass("fa-microphone-slash"));
      						$(this).toggleClass("fa-microphone-slash");
      						$(this).toggleClass("fa-microphone");
   						});
					});

					// added stop/start video feature
					$(document).ready(function() {
   						$('#video').click(function() {
      						publisher.publishVideo($(this).hasClass("fa-video-slash"));
      						$(this).toggleClass("fa-video-slash");
      						$(this).toggleClass("fa-video");
   						});
					});

					// added screen sharing feature
					$(document).ready(function() {
   						$('#share').click(function() {
   							session.unpublish(publisher);
   							removeLocalDataFromVideo();
							publisher = OV.initPublisher('video-container', { videoSource: "screen"});
							publisher.once('accessAllowed', (event) => {
            					publisher.stream.getMediaStream().getVideoTracks()[0].addEventListener('ended', () => {
                					console.log('User pressed the "Stop sharing" button');
                					session.unpublish(publisher);
                					removeLocalDataFromVideo();
                					publisher = getWebCamStream();
                					session.publish(publisher);
            					});
            					publisherOn(publisher);
            					session.publish(publisher);
							});
							publisher.once('accessDenied', (event) => {
            					console.warn('ScreenShare: Access Denied');
            					publisher = getWebCamStream();
                				session.publish(publisher);
        					});
   						});
					});


				// --- 8) Publish your stream ---
				session.publish(publisher);


			} else {
				console.warn('You don\'t have permissions to publish');
				initMainVideoThumbnail(); // Show SUBSCRIBER message in main video
			}
		})
		.catch(error => {
			console.warn('There was an error connecting to the session:', error.code, error.message);
		});


	function leaveSession() {

		// --- 9) Leave the session by calling 'disconnect' method over the Session object ---
		session.disconnect();
	}

	function sendMessage(session) {
		let msg = document.getElementById('messageText').value;
		let recieverConId = document.getElementById('users').value;
		let recieverCon = connections.find(function (con) {
			return con.connectionId === recieverConId;
		});
		let reciever = [];
		let msgType;
		if (recieverCon != undefined) {
			reciever.push(recieverCon);
			reciever.push(session.connection);
			let obj = JSON.parse(recieverCon.data.split("%/%")[0]);
			msgType = obj.clientData;

		} else {
			msgType = "all";
		}

		msg = `${nickName} to ${msgType}: ${msg}`;
		console.warn('RECEIVER IS := '+ reciever);
		session.signal({
			data : msg,
			to: reciever,
			type: 'my-chat'
		})
		.then(() => {
			console.info('message successfully sent');
		})
		.catch(error => {
			console.error(error);
		})

	}

	function recvMessage(session) {
		session.on('signal', (event) => {
			console.log(event.data); // Message
			console.log(event.from); // Connection object of the sender
			console.log(event.type); // The type of message
			// $("#chatbox").append("<p>"+ event.data +" </p>")
			$("#messages").append("<p>"+ event.data +" </p>")
			// unhide it
			
			var modal = document.getElementById("myModal");
			if (modal.style.display == "none" || modal.style.display == '') {
				newMessages++;
				$('#chatCount').text(newMessages);
			}
		});
	}



	chat.onclick = () => {
		var modal = document.getElementById("myModal");
		newMessages = 0;
		$('#chatCount').text('');
		modal.style.display = "block";

	}


	
	closeChat.onclick = () => {
		var modal = document.getElementById("myModal");
		modal.style.display = "none";
	}


	showUsersButton.onclick = () => {
		var modal = document.getElementById("userModel");
		modal.style.display = "block";
	}

	closeUser.onclick = () => {
		var modal = document.getElementById("userModel");
		modal.style.display = "none";
	}

	function inviteLink() {
		alert([[${ inviteLink }]]);
	}

	function getWebCamStream(){
		// --- 6) Get your own camera stream ---
		var publisher = OV.initPublisher('video-container',{
			audioSource: undefined, // The source of audio. If undefined default microphone
			videoSource: undefined, // The source of video. If undefined default webcam
			publishAudio: true,  	// Whether you want to start publishing with your audio unmuted or not
			publishVideo: true,  	// Whether you want to start publishing with your video enabled or not
			resolution: '640x480',  // The resolution of your video
			frameRate: 30,			// The frame rate of your video
			insertMode: 'APPEND',	// How the video is inserted in the target element 'video-container'
			mirror: false       	// Whether to mirror your local video or not
		});
		// When our HTML video has been added to DOM...
		publisherOn(publisher);
		return publisher;
	}

	function publisherOn(publisher){
		publisher.on('videoElementCreated', (event) => {
			var userData = {
				nickName: nickName,
				userName: userName
			};
			initMainVideo(event.element, userData);
			appendUserData(event.element, userData);
			$(event.element).prop('muted', true); // Mute local video
		});
	}

	function appendUserData(videoElement, connection) {
		var clientData;
		var serverData;
		var nodeId;
		if (connection.nickName) { // Appending local video data
			clientData = connection.nickName;
			serverData = connection.userName;
			nodeId = 'main-video';
		} else {
			clientData = JSON.parse(connection.data.split('%/%')[0]).clientData;
			serverData = JSON.parse(connection.data.split('%/%')[1]).serverData;
			nodeId = connection.connectionId;
		}
		var dataNode = document.createElement('div');
		dataNode.className = "data-node";
		dataNode.id = "data-" + nodeId;
		dataNode.innerHTML = '<p class="nickName">' + clientData + '</p><p class="userName">' + serverData + '</p>';
		videoElement.parentNode.insertBefore(dataNode, videoElement.nextSibling);
		addClickListener(videoElement, clientData, serverData);
	}

	function removeLocalDataFromVideo(){
		$("#data-main-video").remove();
	}

	function removeUserData(connection) {
		var userNameRemoved = $("#data-" + connection.connectionId);
		if ($(userNameRemoved).find('p.userName').html() === $('#main-video p.userName').html()) {
			cleanMainVideo(); // The participant focused in the main video has left
		}
		$("#data-" + connection.connectionId).remove();
	}

	function removeAllUserData() {
		$(".data-node").remove();
	}

	function cleanMainVideo() {
		$('#main-video video').get(0).srcObject = null;
		$('#main-video p').each(function () {
			$(this).html('');
		});
	}

	function addClickListener(videoElement, clientData, serverData) {
		videoElement.addEventListener('click', function () {
			var mainVideo = $('#main-video video').get(0);
			if (mainVideo.srcObject !== videoElement.srcObject) {
				$('#main-video').fadeOut("fast", () => {
					$('#main-video p.nickName').html(clientData);
					$('#main-video p.userName').html(serverData);
					mainVideo.srcObject = videoElement.srcObject;
					$('#main-video').fadeIn("fast");
				});
			}
		});
	}

	function initMainVideo(videoElement, userData) {
		$('#main-video video').get(0).srcObject = videoElement.srcObject;
		$('#main-video p.nickName').html(userData.nickName);
		$('#main-video p.userName').html(userData.userName);
		$('#main-video video').prop('muted', true);
	}

	function initMainVideoThumbnail() {
		$('#main-video video').css("background", "url('images/subscriber-msg.jpg') round");
	}

	function isPublisher() {
		return true;
	}

   	function toggleFullscreen(elem) {
   		$('#fullscreen').toggleClass("fa-compress");
   		$('#fullscreen').toggleClass("fa-expand");
  		if (!document.fullscreenElement && !document.mozFullScreenElement &&
    		!document.webkitFullscreenElement && !document.msFullscreenElement) {
    		if (elem.requestFullscreen) {
      			elem.requestFullscreen();
    		} else if (elem.msRequestFullscreen) {
      			elem.msRequestFullscreen();
    		} else if (elem.mozRequestFullScreen) {
      			elem.mozRequestFullScreen();
    		} else if (elem.webkitRequestFullscreen) {
      			elem.webkitRequestFullscreen(Element.ALLOW_KEYBOARD_INPUT);
    		}
  		} else {
    		if (document.exitFullscreen) {
      			document.exitFullscreen();
    		} else if (document.msExitFullscreen) {
      			document.msExitFullscreen();
    		} else if (document.mozCancelFullScreen) {
      			document.mozCancelFullScreen();
    		} else if (document.webkitExitFullscreen) {
      			document.webkitExitFullscreen();
    		}
  		}
   	}



</script>

</html>
